[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.8.0'

[packages]
# python-notify = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pylint = "*"
mock = "*"
pillow = "*"
scrapy = "*"
bs4 = "*"
twisted = "*"
nose = "*"
sympy = "*"
torch = "*"
zappa = "*"
imbalanced-learn = "*"
dash = "*"
fire = "*"
flashtext = "*"
pur = "*"
flawfinder = "*"
lightgbm = "*"
