autopep8
python-notify
numpy
pandas
tensorflow
django
boto3
requests
pomegranate
keras
mypy
pydocstyle
pytest
pytest-cov
pytest-html
pylint
black
mock
pymc3
pillow
scrapy
bs4
twisted
scipy
scikit-learn
matplotlib
seaborn
nose
sympy
torch
zappa
imbalanced-learn
dash
fire
flashtext
luminoth
pur
flake8
flawfinder
lightgbm
jupyterlab
